body,
html {
    background: #777;
}

.App {
    background: #777;
}

.table {
    max-width: 1000px;
}

.pagination {
    list-style: none;
    justify-content: center;
}

.pointer {
    cursor: pointer;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}